<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  
  <!-- Version should always be set to 2 -->		
  <key>PlexFrameworkVersion</key>
  <string>2</string>

  <key>CFBundleIdentifier</key>
  <string>com.plexapp.agents.hama</string>

  <!-- This one does nothing with a value of Always On, but using a value of "daemon" keeps the plugin alive in the background -->	
  <key>PlexPluginMode</key>
  <string>Agent</string>

  <!-- List any client platforms supported in the plugin. -->	
  <!-- Possible values are * for all platforms, MacOSX, Windows, Linux, Roku, Android, iOS, Safari, Firefox, Chrome, LGTV, Samsung, PlexConnect and Plex Home Theater -->
  <key>PlexClientPlatforms</key>
  <string>*</string>
  
  <!-- List any client platforms not supported in the plugin. -->	
  <key>PlexClientPlatformExclusions</key>
  <string></string>
   
  <!-- possible string values are the proper ISO two letter code for the country -->
  <!-- A full list of values are available at http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 -->              
  <key>PlexPluginRegions</key>
  <array><string></string>
  </array>
	
	<!-- DEBUG OPTIONAL KEYS -->
  <!-- possible values are 0 and 1. Setting it to "1" rather than "0" turns on debug logging -->
  <key>PlexPluginDebug</key>
  <array><string>1</string>
	</array>       
  
  <!-- THESE BELOW ARE FOR AGENTS ONLY -->    
  
  <!-- this allows channels to access some python methods which are otherwise blocked, as well as import external code libraries, and interact with the PMS HTTP API -->	
  <key>PlexPluginCodePolicy</key>
  <string>Elevated</string>
  
  <!-- This key is used to show that the plugin is an agent. possible values are agent -->	
  <key>PlexPluginClass</key>
  <string>agent</string>

  <!-- This is used to send plugin log statements directly to stout when running PMS from the command line. Rarely used anymore-->
  <key>PlexPluginConsoleLogging</key>
	<string>0</string>
       
  <key>PlexAgentAttributionText</key>
  <string>HTTP AniDB Metadata Agent (HAMA) was created by Atomicstrawberry (v0.1-0.4), is currently maintained by ZeroQI (v0.5+). HAMA uses the different databases and software below.&lt;br/&gt;:&lt;br/&gt;
        
		Uses most metadata and cover from AniDB:
		&lt;blockquote&gt;&lt;i&gt;&quot;&lt;a href=&quot;http://anidb.net/&quot;&gt;AniDB.net&lt;/a&gt; is non-profit database of anime information that is freely open to the public. As well as providing general anime information, if you sign up you can organise your anime collection, keep track of what you've seen and how much you liked it, and all kinds of nifty extras.&quot;&lt;/i&gt;&lt;/blockquote&gt;

		Uses pictures (Fanart, covers, banners) and episode summary (v0.5+) from TheTVDB:
		&lt;blockquote&gt;&lt;i&gt;&quot;&lt;a href=&quot;http://thetvdb.com&quot;&gt;TheTVDB.com&lt;/a&gt; is a community driven database of television shows. &lt;br/&gt;
		It is our aim to be the most complete and accurate source of&lt;br/&gt; information on TV series from many languages and countries.&quot;&lt;/i&gt;&lt;/blockquote&gt;

		Uses files from XBMC plugin 'AniDB mod' (v0.5+):
		&lt;blockquote&gt;&lt;i&gt;&quot;&lt;a href=&quot;http://forum.xbmc.org/showthread.php?tid=142835&quot;&gt;XBMC AniDB Mod&lt;/a&gt; is a XBMC metadata agent scrapper for AniDB. &lt;br/&gt;
		The AniDB to TVDB XML mapping file (&lt;a href=&quot;https://github.com/ScudLee/anime-lists/blob/master/anime-list-master.xml&quot;&gt;anime-list-master.xml&lt;/a&gt;), and Movie set collection file (&lt;a href=&quot;https://github.com/ScudLee/anime-lists/blob/master/anime-movieset-list.xml&quot;&gt;anime-movieset-list.xml&lt;/a&gt;) are used with ScudLee authorisation and theire use and format explained here: &lt;a href=&quot;https://github.com/ScudLee/anime-lists/blob/master/README.md&quot;&gt;Read Me&lt;/a&gt;&quot;&lt;/i&gt;&lt;/blockquote&gt;

		Uses Absolute Series Scanner (ASS):
		&lt;blockquote&gt;&lt;i&gt;&quot;&lt;a href=&quot;https://github.com/ZeroQI/Absolute-Series-Scanner&quot;&gt;ABsolute Series Scanner (ASS)&lt;/a&gt; is a scanner that uses absolute numbering like AniDB.&lt;br/&gt;
		It supports pretty much anything as long as you put series in their own folder at root.
  </string>
</dict>
</plist>
